body {
    margin: 0; background-color:#f0f0f0;
}
.menu {
    display:flex;
    align-items: center;
    height: 5.63rem;
    padding-left:1rem;
    background-color:#29bde0;
}
.oblong {
    width:1.88rem;
    height:.25rem;
    background-color: white;margin:.5rem;
}
.tittle {
    display: flex;
    justify-content: space-around;
    align-items:center;
    height:7.19rem;
    font-size:2rem;
    margin:7rem 2rem 1.6rem;
    background-color:white;
    color: #a8a8a8;
}
span.last-game {
    margin-left:16vw;
}
.list-group {
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction:column;
    background-color:white;
    margin:0 2rem 2rem;
    padding-top:2rem;
}
.link {
    width: 65.95vw;
    height:8.13rem;
    text-align: center;
    background-color:#69d1e9;
}
h2 {
    border-bottom-style:solid;
    text-align: center;
    margin: 2rem 2rem 0;
    background-color: white;
    color: #fbb435;
    line-height:4rem;
    border-width:.1rem}
h3 {
    color: white;
}
[class$="dot"] {
    width:1rem;
    height: 1rem;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background-color: #f0f0f0;
}
.dot1 {
    width:1rem;
    height: 1rem;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background-color: #69d1e9;
}
.dot-group {
    display: flex;
    flex-direction:row;
    margin-bottom: 1rem;}
.triangle {
    position: fixed;
    right: 2.5rem;
    top: 36rem;}
img {
    width: 1rem;
}