body {
  margin: 0;
}

div {
  float: left;
  width: 31vw;
  height: 31vw;
  margin: 20px 1vw;
  border-radius: 10%;
  background-color: #59c5ed;
}
button {
  width: 100%;
  height: 10vh;
  margin: 2vh 0;
  font-size: 2rem;
  font-color: #fff;
  background-color: #59c5ed;
}