header {
    background-color: #1d7ad9;
}
.login {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-style: none;
    color: #fff;
}
.regist {
    width: 80px;
    text-align: center;
}
.register {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom-color: transparent;
}
nav-list {
    margin:3vh 0 0;
}
.nav-list li {
    margin:0 2vw;
    border: solid 1px #e6e6e6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #1d7ad9;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #1d7ad9;
}
.phonenum {
    float: left;
    margin-top: 1.8vh;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #fff;
}
.nav-tabs {
    float: right;
}
.nav-background {
    background: #f9f9f9;
}
.navbar-default {
    border: none;
}
.flowsheet {
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.steps {
    position: relative;
    counter-reset: step;  /*创建步骤数字计数器*/

}
/*步骤描述*/
.steps li {
    position: relative;
    float: left;
    font-size: 12px;
    text-align: center;
    width: 25%;
    list-style-type: none;
}

/*步骤数字*/
.steps li:before {
    display: block;
    margin: 0 auto 8px auto;
    content: counter(step); /*设定计数器内容*/
    counter-increment: step;  /*计数器值递增*/
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 32px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    background-color: #f99e6a;
}
.steps li.active:before {
    background-color: #777;
}
/*连接线*/
.steps li ~ li:after {
    position: absolute;
    left: -100%;
    top: 15px;
    z-index: -1; /*放置在数字层后面*/
    content: '';
    width: 200%;
    height: 2px;
    background-color: #f99e6a;
}

/*将当前/完成步骤之前连接线变绿*/
.steps li.active:after {
    background-color: #f99e6a;
}

/*将当前/完成步骤之后的数字及连接线变灰*/

.steps li.active ~ li:before,
.steps li.active ~ li:after {
    background-color: #777;
}
.steps li.active ~ li.active:before,
.border-left {
    padding-left: 1vw;
    border-left: solid #1d7ad9;
}
.background1 {
    display: block;
    float: left;
    margin: 9px 6px 6px 2vw;
    background: url(http://119.10.57.69:880/jnshu265/pic/task10/sprites-task10.png);
    width: 19px;
    height: 15px;
    background-position: 0 -22px;
}
.background2 {
    display: block;
    float: left;
    margin: 6px 6px 6px 2vw;
    background: url(http://119.10.57.69:880/jnshu265/pic/task10/sprites-task10.png);
    width: 23px;
    height: 22px;
    background-position: 0 -37px;
}
.background3 {
    display: block;
    float: left;
    margin: 6px 6px 6px 2vw;
    background: url(http://119.10.57.69:880/jnshu265/pic/task10/sprites-task10.png);
    width: 18px;
    height: 22px;
    background-position: 0 0;
}
.gray-border {
    height: 6vh;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #e6e6e6;
}
.gray-border h5 {
    font-weight: 700;
    color: #1d7ad9;
}
.gray-border2 {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
input[type='radio'] {
    margin: 3vh 0;
}
input[type='radio'].radio1 {
    display: inline-block;
    height:20px;
    width: 20px;
    opacity:0;
}
label.radio1 {
    height:20px;
    padding-left:25px;
    background:url(http://119.10.57.69:880/jnshu265/pic/task10/blankdot.png) no-repeat;
}
input[type='radio'].radio1:checked + .radio1 {
    height:20px;
    padding-left:25px;
    background:url(http://119.10.57.69:880/jnshu265/pic/task10/dot.png) no-repeat;
}
form {
    margin: 0 2vw;
}
select {
    margin-right: 3vw;
    padding: 8px 10px 8px 8px;
    width: 100px;
    border: solid 1px #e6e6e6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(http://119.10.57.69:880/jnshu265/pic/task10/triangle.png) no-repeat scroll right center transparent;

}
.border-left-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: #e6e6e6 solid 1px;
    border-right: #e6e6e6 solid 1px;
      border-bottom: #e6e6e6 solid 1px;
    padding: 2vh 0 3vh;
  }
.text-input {
    width: 10vw;
}
.unit {
    margin-right: 20px;
}
.btn-container {
    padding: 10vh 0;
    margin-bottom: 5vh;
    border: #e6e6e6 solid 1px;
}
.btn-container button {
    width: 20vw;

}
.footer-box {
    padding: 5vh 0;
    background-color: #e6e6e6;
}
.web-info {
    height: 8vh;
    padding-top: 2vh;
    background-color: #1d7ad9;
    color: #fff;
}
h5 {
    margin: 0;
    font-size: 2vh;
    line-height: 5.5vh;
}
.web-info h5 {
     margin: 0;
     font-size: 1vh;
     line-height: 2vh;
 }

@media all and (max-width: 600px) {
    .border-left-right {
        display: block;
        padding: 2vh 0 3vh;
        border-left: #e6e6e6 solid 1px;
        border-right: #e6e6e6 solid 1px;
        border-bottom: #e6e6e6 solid 1px;
    }

    .unit {
        margin: 0;
    }
    select {
        width: 40vw;
        margin: 0 30vw;
}
}