body {
    overflow:-Scroll;
    overflow-x:hidden;
}
main {
    background-color: #fafafa;
    padding-bottom: 5vw;
}
.navbar-static-top {
    background: #29b078;
    vertical-align: center;
    margin:0;
    border:none;
}
.share {
    background: #fff;
    width:100%;
    margin-top:6px;
}
span.phonenum {
    float:left;
    color: #29b078;

}
a.login {
    padding-right:.5vw;
    border-right:#29b078 solid .5vw;
}
.background1 {
    display: block;
    float: right;
    margin: 2px;
    background: url(http://119.10.57.69:880/jnshu265/pic/task8-sprites.png);
    width: 23px;
    height: 24px;
    background-position: 0 0;

}
.background2 {
    display: block;
    float: right;
    margin: 2px;
    background: url(http://119.10.57.69:880/jnshu265/pic/task8-sprites.png) no-repeat;
    width: 24px;
    height: 24px;
    background-position: -24px 0;
}
.background3 {
    display: block;
    float: right;
    margin: 2px;
    background: url(http://119.10.57.69:880/jnshu265/pic/task8-sprites.png) no-repeat;
    width: 27px;
    height: 24px;
    background-position: -49px 0;
}

#naviga {
    color: #fff;
    margin:2vw 0;
}
.active {
    border-bottom: solid #fff ;
}
.nav-hover:hover {
    border-bottom: solid #fff ;
}
.logos {
    padding:0;
}
.logo {
    margin:2vw 0;
}
.nav-2 {
    border-left:none;
    border-right:none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    background: #fafafa;
}
.nav-list li {
    padding:8px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover
{
    background: #29b078;
    color: #fff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
{
    background: #29b078;
    color: #fff;
}
.bread {
    margin:1.5vw 0;
    font-size: 2rem;
    font-weight:700;
}
.bread a:link {
    color: #29b078;
}

.tittle {
    margin: 3vw 0;
    padding-bottom:1vw;
    border-bottom:solid .1vw #d0d6d9;
}
.tittle h4 {
    font-size:2rem;
    font-weight:900;
}


.head {
    margin:.5rem;
    float: left;
}
.Web-engnieer {
    padding:.5rem;
}

.table-bordered td {
    padding:.5rem;
    color: #c6c6c6;
}
.level {
    margin: 0 0 .2rem .5rem;
}
.highlight {
    color: #f01400;
    font-weight: 700;
}
.black-font {
    color: #000;
}

.justify span {
    font-weight:600;
    color: #000;
}
.salary {
    float: right;
}
.hover{
    position: relative;
}
.hover:hover .hidden-hover {
    opacity: 0.7;
}
div.hidden-hover {
    position: absolute;
    width:100%;
    padding:2vw ;
    font-size:1.4vw;
    color: #fff;
    background: #000;
    opacity: 0;
}

.footbox {
    margin-bottom: 2vw;
}
.links li {
    color: #e0e0e0;
}
.col-md-1 a {
    font-size:.9rem;
    color: #e0e0e0;
}
.footbox1 {
    background: #29b078;
    color: #fff;
    padding-bottom: 1rem;
    border-bottom: solid #32c086 .2vw;
}
.barcode {
    width: 7vw;
}
.about-us {
    margin-top:5rem;
}
.about-us a {
    color: #fff;
}
.ourwebs {
    margin-top: 2rem;
}
.ourwebs a {
    color: #fff;
}
.footbox2 {
    background: #29b078;
    color: #fff;
}