@charset "UTF-8";
/*
this stylesheet fuction is css reset and reduce the diffrence between browser, make the css be in common use.
---------------------------------*/
/*
---------------------------------
Site: http://zengyupei.cn
Author: zengyupei.cn
Updated: 2017/3/16 and 11:00
Updated by: Mosqlee
---------------------------------
*/
/*css reset*/
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}
/*clean body's margin*/
body {
  margin: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Add the correct display in IE 9-.
 */
footer,
header,
nav {
  display: block;
}
/*Add the correct display in IE 9*/
main {
  /* 1 */
  display: block;
}
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/*clean links bottom line
 Remove the outline on focused links when they are also active or hovered in all brows`ers
 */
a,
a:hover,
a:visited {
  outline-width: 0;
  text-decoration: none;
}
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/*reset over*/
/*
---------------------------------
COLORS
nav-Body background: BLUE,#69d1e9,gray:#f0f0f0,light-blue:#b9e9f5
font-color: gray:#a8a8a8,white:#fff,black:#000
Container background: #fff BLUE,#69d1e9
Main Text: #000 #a8a8a8
button:red#f37072,yellow#f8b445
Links: none
Visited links: none
Hover links: none
---------------------------------
*/
/*
this stylesheet fuction is css reset and reduce the diffrence between browser, make the css be in common use.
---------------------------------*/
/*
---------------------------------
Site: http://zengyupei.cn
Author: zengyupei.cn
Updated: 2017/3/16 and 11:00
Updated by: Mosqlee
---------------------------------
*/
/*
---------------------------------
COLORS
nav-Body background: BLUE,#69d1e9,gray:#f0f0f0,light-blue:#b9e9f5
font-color: gray:#a8a8a8,white:#fff,black:#000
Container background: #fff BLUE,#69d1e9
Main Text: #000 #a8a8a8
button:red#f37072,yellow#f8b445
Links: none
Visited links: none
Hover links: none
---------------------------------
*/
body {
  background: #29bde0;
}
.body {
  background: #f0f0f0;
}
.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  background: #29bde0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 15vh;
  /*page 3*/
}
.fixed-top .menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 5.5vh;
  padding-left: 1vw;
  background-color: #29bde0;
  /*page 2*/
  margin: 0 2vw;
}
.fixed-top .menu div {
  width: 4vw;
  height: 1vh;
  background-color: #ffffff;
  margin: 1vw;
}
.fixed-top .menu img {
  width: 6vw;
}
.fixed-top .result {
  font: normal 300 2rem/4rem "微软雅黑";
  color: #ffffff;
}
/*page 2*/
.vote {
  font: normal 900 6vw/4rem "微软雅黑";
  color: #ffffff;
  margin-right: 3vw;
}
.game-play {
  background: #29bde0;
}
.game-play .audio-play {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 15vh;
  background: #b9e9f5;
}
.game-play .audio-play button {
  border: none;
  background: none;
}
.game-play .audio-play button:visited {
  border: none;
}
.game-play .point {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-left: 2vw;
}
.game-play h4 {
  font: normal 300 4vw/0 "微软雅黑";
  color: #ffffff;
  margin-left: 2vw;
}
.game-play .selection {
  height: 32vw;
  float: left;
  width: 32vw;
}
.game-play .selection .square {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  float: left;
  width: 21vw;
  height: 21vw;
  margin: 5.9vw 5.9vw 2vw;
  border: 0.8vw solid #ffffff;
  background-color: #f8b445;
}
.game-play .selection .hidden-icon {
  margin-left: 8vw;
  opacity: 0;
}
.game-play .selection:hover .hidden-icon {
  opacity: 1;
}
.degree {
  margin-bottom: 6vw;
  font-size: 4vw;
}
.num {
  width: 21vw;
  text-align: center;
  font-size: 3vw;
  color: #fff;
  background-color: #83b09a;
}
/*page 3*/
.game-report {
  text-align: center;
  margin: 0 12vw;
}
.game-report .game-roles {
  text-align: left;
}
.game-report .game-roles p {
  color: #ffffff;
}
.game-report .game-roles .victor-span {
  font: normal 900 3.5vw/5vw "微软雅黑";
  color: #f8b445;
}
.game-daily {
  padding: 2vh 12vw;
  background: #ffffff;
  border-bottom: 0.2vw #f0f0f0 solid;
}
.game-daily .date {
  font-size: 3.5vw;
}
.game-daily .time {
  float: right;
  color: #d6d6d6;
  font-size: 2.5vw;
}
.game-daily p {
  font: normal 300 2.5vw/2.5vw "微软雅黑";
  color: #d6d6d6;
}
.filler {
  height: 15vh;
}
.tittle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 80vw;
  height: 20vh;
  font-size: 3.9vw;
  margin: 3vh 10vw 1.6rem;
  background-color: white;
  color: #a8a8a8;
}
.tittle p {
  margin-left: 10vw;
}
.tittle img {
  margin-top: .5rem;
}
.icon img {
  width: 4vw;
}
.unit-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  margin: 0 10vw;
  background: #ffffff;
  text-align: center;
}
.unit-list p {
  font: normal 900 3.9vw/6vw "微软雅黑";
  color: #f8b445;
  padding: 0 32vw 3vw;
  border-bottom: solid 0.1rem #f8b445;
}
.unit-list h3 {
  font: normal 900 2rem/4rem "微软雅黑";
  color: #ffffff;
  padding: 5vh 25vw;
  background: #29bde0;
}
.unit-list img {
  position: fixed;
  right: 8vw;
  top: 50vh;
  width: 4vw;
}
.unit-list h5 {
  font-weight: 300;
}
.dot-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1rem;
}
.dot-group div {
  width: 1rem;
  height: 1rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #f0f0f0;
}
.dot-group .dot1 {
  background: #29bde0;
}
/*page 2*/
.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #29bde0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.fixed-bottom .submit {
  width: 80vw;
  margin: 4vw 11vw;
  text-align: center;
  font-size: 6vw;
  color: #fff;
  background-color: #fbb435;
}
.fixed-bottom2 {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #29bde0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background: rgba(41, 189, 224, 0.5);
}
.fixed-bottom2 .btn-danger {
  width: 40vw;
  border: none;
  font: normal 300 2rem/4rem "微软雅黑";
  color: #ffffff;
  background: #c9302c;
}
.fixed-bottom2 .btn-warning {
  width: 40vw;
  border: none;
  margin: 2vh 0;
  font: normal 300 2rem/4rem "微软雅黑";
  color: #ffffff;
  background: #ec971f;
}
