.navbar-fixed-top {
    background-color: #29bde0;
}
.tittle {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
.result {
    font-size:2rem;
    color: #fff;
}
.menu img {
    width:70%;
}
.background {
    text-align: center;
    background: #29bde0;
}
.victor {
    width:50%;
    margin-top: 20vw;
}
.box {
    margin:2.5vw 12vw ;
    text-align: left;
}
.box p {
    margin:3px;
    font-size:1.5rem;
    color: #fff;
}
p.victor-span {
    margin-bottom:2rem;
    font-size:1.8rem;
    font-weight:900;
    color: #ffc865;
}
.game-report {
    border-bottom:2vw solid #e0e0e0;
}
.game-daily {
    margin:0 12vw;
}
.date {
    font-size:2rem;
}
.time {
    float: right;
    color: #d6d6d6;
    font-size:1.25rem;
}
.game-daily p {
    font-size:1.4rem;
    color: #a6a6a6;
}
.btn {
    width:40%;
    height:13vw;
    margin:2vw 0;
}
.navbar-fixed-bottom {
    display: flex;
    justify-content:space-around;
    background: rgba(41,189,224,0.5);
}